<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>BB Jobs</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/colors/green.css" id="colors">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">


<!-- Header
================================================== -->
<header>
<div class="container">
	<div class="sixteen columns">

		<!-- Logo -->
		<div id="logo">
			<h1><a href=""><img src="" alt="" /><i style="position: relative; top: 3px; right: 3px;" class='bx bxl-redbubble'></i>Binary Brains</a></h1>
		</div>

		<!-- Menu -->
		<nav id="navigation" class="menu">
			<ul id="responsive">

				<li><a href="{{ url_for('index') }} ">Home</a>
				</li>

				<li><a href="#">For Freelancer</a>
					<ul>
						<li><a href="{{ url_for('bro_jobs') }}">Browse Jobs</a></li>
						<li><a href="{{ url_for('bro_category') }}">Browse Categories</a></li>
						<li><a href="{{ url_for('resume') }}">Add Resume</a></li>
					</ul>
				</li>

				<li><a href="#">Hire Freelancer</a>
					<ul>
						<li><a href="{{ url_for('addjob') }}">Add Job</a></li>
						<li><a href="{{ url_for('manage_jobs') }}">Manage Jobs</a></li>
						<li><a href="{{ url_for('manage_app') }}">Manage Application</a></li>
					</ul>
				</li>

			
			</ul>



		</nav>

		<!-- Navigation -->
		<div id="mobile-navigation">
			<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>


<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>My Account</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>My Account</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="my-account">

		<ul class="tabs-nav">
			<li class=""><a href="#tab1">Login</a></li>
			<li><a href="#tab2">Register</a></li>
		</ul>

		<div class="tabs-container">
			<!-- Login -->
			<div class="tab-content" id="tab1" style="display: none;">

				<h3 class="margin-bottom-10 margin-top-10">Login</h3>

				<form action="{{ url_for('login') }}" method="post" class="login">

					
					<p class="form-row form-row-wide">
						<label for="username">Username:</label>
						<input type="text" class="input-text" name="username" id="username" value="" />
					</p>

					<p class="form-row form-row-wide">
						<label for="password">Password:</label>
						<input class="input-text" type="password" name="password" id="password" />
					</p>

					<p class="form-row">
						<input type="submit" class="button" name="login" value="Login" />

						<label for="rememberme" class="rememberme">
						<input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
					</p>

					{% if error %}
    <p>{{ error }}</p>
    {% endif %}

					<!-- <p class="lost_password">
						<a href="#" >Lost Your Password?</a>
					</p> -->

					
				</form>
			</div>

				<!-- Register -->
				<div class="tab-content" id="tab2" style="display: none;">

					<h3 class="margin-bottom-10 margin-top-10">Register</h3>

					<form action="{{ url_for('register') }}" method="post" class="register">
						
						<p class="form-row form-row-wide">
							<label for="username">Username:</label>
							<input type="text" class="input-text" name="username" id="username" value="" />
						</p>

						
						<p class="form-row form-row-wide">
							<label for="reg_password">Password:</label>
							<input type="password" class="input-text" name="password" id="reg_password" />
						</p>

									
						<p class="form-row">
							<input type="submit" class="button" name="register" value="Register" />
						</p>


						
					</form>
				</div>
		</div>
	</div>
</div>



<!-- Footer
================================================== -->
<div class="margin-top-30"></div>

<div id="footer">
	<!-- Main -->
	<div class="container">

		<div class="seven columns">
			<h4>About Us</h4>
			<p>Binary Brains: Powering your career journey through innovative backend solutions, revolutionizing the job portal experience with expertise and dedication.</p>
			<a href="{{ url_for('account') }}" class="button">Get Started</a>
		</div>

		<div class="three columns">
			<h4>BB Jobs</h4>
			<ul class="footer-links">
				<li><a href="#">About Us</a></li>
				{% if 'username' in session %}
				<li><a href="#">Edit Profile</a></li>
				<li><a href="#">Logout</a></li>
				{% endif %}		
			</ul>
		</div>
		
		<div class="three columns">
			<h4>For Freelancer</h4>
			<ul class="footer-links">
				<li><a href="#">Browse Jobs</a></li>
				<li><a href="#">Browse Categories</a></li>
				<li><a href="#">Add Resume</a></li>
			</ul>
		</div>		

		<div class="three columns">
			<h4>Hire Freelancer</h4>
			<ul class="footer-links">
				<li><a href="#">Add Job</a></li>
				<li><a href="#">Manage Job</a></li>
				<li><a href="#">Manage Application</a></li>
			</ul>
		</div>

	</div>

	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="copyrights">©  Copyright 2023 by <a href="#">Binary Brains</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="/static/scripts/jquery-2.1.3.min.js"></script>
<script src="/static/scripts/custom.js"></script>
<script src="/static/scripts/jquery.superfish.js"></script>
<script src="/static/scripts/jquery.themepunch.tools.min.js"></script>
<script src="/static/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/static/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/static/scripts/jquery.flexslider-min.js"></script>
<script src="/static/scripts/chosen.jquery.min.js"></script>
<script src="/static/scripts/jquery.magnific-popup.min.js"></script>
<script src="/static/scripts/waypoints.min.js"></script>
<script src="/static/scripts/jquery.counterup.min.js"></script>
<script src="/static/scripts/jquery.jpanelmenu.js"></script>
<script src="/static/scripts/stacktable.js"></script>


</body>
</html>