<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Binary Brains</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/colors/green.css" id="colors">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>





<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">

	<div class="popup-button">
		<a href="/chat"><i class='bx bxs-chat'></i></a>
	  </div>


<header>
<div class="container">
	<div class="sixteen columns">
	
		<!-- Logo -->
		<!-- <div id="logo">
			<h1><a href="index.html"><img src="/static/images/logo.png" alt="Work Scout" /></a></h1>
		</div> -->

		<div id="logo">
			<h1><a href=""><img src="" alt="" /><i style="position: relative; top: 3px; right: 3px;" class='bx bxl-redbubble'></i>Binary Brains</a></h1>
		</div>


		<!-- Menu -->
		<nav id="navigation" class="menu">
			<ul id="responsive">

				<li><a href="{{ url_for('index') }}" id="current">Home</a>
					<!-- <ul>
						<li><a href="index.html">Home #1</a></li>
						<li><a href="index-2.html">Home #2</a></li>
						<li><a href="index-3.html">Home #3</a></li>
						<li><a href="index-4.html">Home #4</a></li>
					</ul> -->
				</li>


				<li><a href="#">For Freelancer</a>
					<ul>
						<li><a href="{{ url_for('bro_jobs') }}">Browse Jobs</a></li>
						<li><a href="{{ url_for('bro_category') }}">Browse Categories</a></li>
						<li><a href="{{ url_for('resume') }}">Add Resume</a></li>
					</ul>
				</li>

				<li><a href="#">Hire Freelancer</a>
					<ul>
						<li><a href="{{ url_for('addjob') }}">Add Job</a></li>
						<li><a href="{{ url_for('manage_jobs') }}">Manage Jobs</a></li>
						<li><a href="{{ url_for('manage_app') }}">Manage Application</a></li>
					</ul>
				</li>

				{% if 'username' in session %}

				<li><a href="">Settings</a>
					<ul>
						<li><a href="{{ url_for('index') }}">Edit Profile</a></li>
						<li><a href="{{ url_for('logout') }}">Logout</a></li>
						<li><a href="{{ url_for('resume') }}">My resume</a></li>
					</ul>
				</li>
				{% endif %}
			</ul>


			<ul class="float-right">
				<!-- Check if the user is logged in -->
				{% if 'username' in session %}
					<!-- Show profile dropdown -->
					<li class="dropdown">
						<a class="profile">
							<img style="width: 50px;" src="/static/images/profile.png">
						</a>
					</li>
				{% else %}
					<!-- Show login/signup links -->
					<li><a href="{{ url_for('account') }}"><i class="fa fa-user"></i> Create account</a></li>
					<!-- <li><a href="{{ url_for('login') }}"><i class="fa fa-lock"></i> Log In</a></li> -->
				{% endif %}
			</ul>
			

		</nav>

		<!-- Navigation -->
		<div id="mobile-navigation">
			<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>


<!-- Banner
================================================== -->
<div id="banner" style="background: url(images/banner-home-01.jpg)">
	<div class="container">
		<div class="sixteen columns">
			
			<div class="search-container">

				<!-- Form -->
				<form action="{{ url_for('bro_jobs') }}" method="GET">
					<h2>Find job</h2>
					<input type="text" class="ico-01" placeholder="job title, company name" name="job_title" value=""/>
					<input type="text" class="ico-02" placeholder="city, region" name="location" value=""/>
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
				

				<!-- Browse Jobs -->
				<div class="browse-jobs">
					Browse job offers by <a href="browse-categories.html"> category</a> or <a href="#">location</a>
				</div>
				
				<!-- Announce -->
				<div class="announce">
					We’ve over <strong>15 000</strong> job offers for you!
				</div>

			</div>

		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Categories -->
<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-25">Popular Categories</h3>
		<ul id="popular-categories">
			<li><a href="#"><i class="fa fa-line-chart"></i> Accounting / Finance</a></li>
			<li><a href="#"><i class="fa fa-wrench"></i> Automotive Jobs</a></li>
			<li><a href="#"><i class="fa fa-building-o"></i> Construction / Facilities</a></li>
			<li><a href="#"><i class="fa fa-graduation-cap"></i> Education Training</a></li>
			<li><a href="#"><i class="fa fa-medkit"></i> Healthcare</a></li>
			<li><a href="#"><i class="fa fa-cutlery"></i> Restaurant / Food Service</a></li>
			<li><a href="#"><i class="fa fa-globe"></i> Transportation / Logistics</a></li>
			<li><a href="#"><i class="fa fa-laptop"></i> Telecommunications</a></li>
		</ul>

		<div class="clearfix"></div>
		<div class="margin-top-30"></div>

		<a href="{{ url_for('bro_jobs') }}" class="button centered">Browse All Categories</a>
		<div class="margin-bottom-50"></div>
	</div>
</div>


<div class="container">
	
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		<h3 class="margin-bottom-25">Recent Jobs</h3>
		<ul class="job-list">

			{% for job in recent_jobs %}
			<li class="highlighted"><a href="{{ url_for('job_page', job_id=job['_id']) }}">
				<img src="{{ job.logo }}" alt="">
				<div class="job-list-content">
					<h4>{{ job.job_title }}  <span class="internship">{{ job.job_type }}</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> {{ job.company_name }}</span>
						<span><i class="fa fa-map-marker"></i> Sydney</span>
						<span><i class="fa fa-money"></i> {{ job.job_salary }}</span>
					</div>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>
			{% endfor %}

			

			
		</ul>

		<a href="browse-jobs.html" class="button centered"><i class="fa fa-plus-circle"></i> Show More Jobs</a>
		<div class="margin-bottom-55"></div>
	</div>
	</div>

	<!-- Job Spotlight -->
	<div class="five columns">
		<h3 class="margin-bottom-5">Job Spotlight</h3>

		<!-- Navigation -->
		<div class="showbiz-navigation">
			<div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
			<div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
		</div>
		<div class="clearfix"></div>
		
		<!-- Showbiz Container -->
		<div id="job-spotlight" class="showbiz-container">
			<div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1" >
				<div class="overflowholder">
					


					<ul>

						{% for job in random_jobs %}
						<li>
							<div class="job-spotlight">
								<a href="#"><h4>{{ job.job_title }} <span class="freelance">Part-Time</span></h4></a>
								<span><i class="fa fa-briefcase"></i> {{ job.company_name }}</span>
								<span><i class="fa fa-map-marker"></i> {{ job.location }}</span>
								<span><i class="fa fa-money"></i> {{ job.job_salary }}</span>
								<p>{{ job.description	 }}</p>
								<a href="{{ url_for('job_page', job_id=job['_id']) }}" class="button">Apply For This Job</a>
							</div>
						</li>
						{% endfor %}


					</ul>
					<div class="clearfix"></div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
</div>


<!-- Testimonials -->
<div id="testimonials">
	<!-- Slider -->
	<div class="container">
		<div class="sixteen columns">
			<div class="testimonials-slider">
				  <ul class="slides">
				    <li>
				      <p>I have already heard back about the internship I applied through Job Finder, that's the fastest job reply I've ever gotten and it's so much better than waiting weeks to hear back.
				      <span>Collis Ta’eed, Envato</span></p>
				    </li>

				    <li>
				      <p>You cannot control what happens to you, but you can control your attitude toward what happens to you, and in that, you will be mastering change rather than allowing it to master you.
				      <span>Brian Tracy</span></p>
				    </li>
				    
				    <li>
				      <p>We must let go of the life we have planned, so as to accept the one that is waiting for us.
				      <span>Joseph Campbell</span></p>
				    </li>

				  </ul>
			</div>
		</div>
	</div>
</div>


<!-- Infobox -->
<div class="infobox">
	<div class="container">
		<div class="sixteen columns">Start Building Your Own Job Board Now <a href="{{ url_for('account') }}">Get Started</a></div>
	</div>
</div>


<!-- Recent Posts -->
<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-25">Recent Posts</h3>
	</div>


	<div class="one-third column">

		<!-- Post #1 -->
		<div class="recent-post">
			<div class="recent-post-img"><a href=""><img src="images/recent-post-01.jpg" alt=""></a><div class="hover-icon"></div></div>
			<a href=""><h4>Hey Job Seeker, It’s Time To Get Up And Get Hired</h4></a>
			<div class="meta-tags">
				<span>October 10, 2024</span>
				<span><a href="#">3 Comments</a></span>
			</div>
			<p>The world of job seeking can be all consuming. From secretly stalking the open reqs page of your dream company to sending endless applications.</p>
			<a href="" class="button">Read More</a>
		</div>

	</div>


	<div class="one-third column">

		<!-- Post #2 -->
		<div class="recent-post">
			<div class="recent-post-img"><a href=""><img src="images/recent-post-02.jpg" alt=""></a><div class="hover-icon"></div></div>
			<a href=""><h4>How to "Woo" a Recruiter and Land Your Dream Job</h4></a>
			<div class="meta-tags">
				<span>September 12, 2021</span>
				<span><a href="#">5 Comments</a></span>
			</div>
			<p>Struggling to find your significant other the perfect Valentine’s Day gift? If I may make a suggestion: woo a recruiter. </p>
			<a href="" class="button">Read More</a>
		</div>

	</div>

	<div class="one-third column">

		<!-- Post #3 -->
		<div class="recent-post">
			<div class="recent-post-img"><a href=""><img src="images/recent-post-03.jpg" alt=""></a><div class="hover-icon"></div></div>
			<a href=""><h4>11 Tips to Help You Get New Clients Through Cold Calling</h4></a>
			<div class="meta-tags">
				<span>August 27, 2023</span>
				<span><a href="#">9 Comments</a></span>
			</div>
			<p>If your dream employer appears on this list, you’re certainly in good company. But it also means you’re up for some intense competition.</p>
			<a href="" class="button">Read More</a>
		</div>
	</div>

</div>


<!-- Footer
================================================== -->
<div class="margin-top-15"></div>

<div id="footer">
	<!-- Main -->
	<div class="container">

		<div class="seven columns">
			<h4>About Us</h4>
			<p>Binary Brains: Powering your career journey through innovative backend solutions, revolutionizing the job portal experience with expertise and dedication.</p>
			<a href="{{ url_for('account') }}" class="button">Get Started</a>
		</div>

		<div class="three columns">
			<h4>BB Jobs</h4>
			<ul class="footer-links">
				<li><a href="#">About Us</a></li>
				{% if 'username' in session %}
				<li><a href="#">Edit Profile</a></li>
				<li><a href="#">Logout</a></li>
				{% endif %}		
			</ul>
		</div>
		
		<div class="three columns">
			<h4>For Freelancer</h4>
			<ul class="footer-links">
				<li><a href="#">Browse Jobs</a></li>
				<li><a href="#">Browse Categories</a></li>
				<li><a href="#">Add Resume</a></li>
			</ul>
		</div>		

		<div class="three columns">
			<h4>Hire Freelancer</h4>
			<ul class="footer-links">
				<li><a href="#">Add Job</a></li>
				<li><a href="#">Manage Job</a></li>
				<li><a href="#">Manage Application</a></li>
			</ul>
		</div>

	</div>

	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="copyrights">©  Copyright 2023 by <a href="#">Binary Brains</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="/static/scripts/jquery-2.1.3.min.js"></script>
<script src="/static/scripts/custom.js"></script>
<script src="/static/scripts/jquery.superfish.js"></script>
<script src="/static/scripts/jquery.themepunch.tools.min.js"></script>
<script src="/static/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/static/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/static/scripts/jquery.flexslider-min.js"></script>
<script src="/static/scripts/chosen.jquery.min.js"></script>
<script src="/static/scripts/jquery.magnific-popup.min.js"></script>
<script src="/static/scripts/waypoints.min.js"></script>
<script src="/static/scripts/jquery.counterup.min.js"></script>
<script src="/static/scripts/jquery.jpanelmenu.js"></script>
<script src="/static/scripts/stacktable.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();
        const jobTitle = document.querySelector('.ico-01').value;
        const location = document.querySelector('.ico-02').value;
        
        // Redirect to browse-jobs with query parameters
        window.location.href = `/browse-jobs?job_title=${jobTitle}&location=${location}`;
    });
</script>




</body>
</html>