<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>Work Scout</title>

	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/colors/green.css" id="colors">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
	<div id="wrapper">


		<!-- Header
================================================== -->
		<header>
			<div class="container">
				<div class="sixteen columns">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="{{ url_for('index') }}"><img src="/static/images/logo.png" alt="Work Scout" /></a>
						</h1>
					</div>

					<!-- Menu -->
					<nav id="navigation" class="menu">
						<ul id="responsive">

							<li><a href="{{ url_for('index') }}">Home</a>
							</li>

							<li><a href="#">For Freelancer</a>
								<ul>
									<li><a href="{{ url_for('bro_jobs') }}">Browse Jobs</a></li>
									<li><a href="{{ url_for('bro_category') }}">Browse Categories</a></li>
									<li><a href="{{ url_for('resume') }}">Add Resume</a></li>
								</ul>
							</li>
			
							<li><a href="#">Hire Freelancer</a>
								<ul>
									<li><a href="{{ url_for('addjob') }}">Add Job</a></li>
									<li><a href="{{ url_for('manage_jobs') }}">Manage Jobs</a></li>
									<li><a href="{{ url_for('manage_app') }}">Manage Application</a></li>
								</ul>
							</li>

							{% if 'username' in session %}

							<li><a href="">Settings</a>
								<ul>
									<li><a href="{{ url_for('index') }}">Edit Profile</a></li>
									<li><a href="{{ url_for('logout') }}">Logout</a></li>
									<li><a href="{{ url_for('resume') }}">My resume</a></li>
								</ul>
							</li>
							{% endif %}
						</ul>


						<ul class="float-right">
							<!-- Check if the user is logged in -->
							{% if 'username' in session %}
								<!-- Show profile dropdown -->
								<li class="dropdown">
									<a class="profile">
										<img style="width: 50px;" src="/static/images/profile.png">
									</a>
								</li>
							{% else %}
								<!-- Show login/signup links -->
								<li><a href="{{ url_for('account') }}"><i class="fa fa-user"></i> Create account</a></li>
								<!-- <li><a href="{{ url_for('login') }}"><i class="fa fa-lock"></i> Log In</a></li> -->
							{% endif %}
						</ul>

					</nav>

					<!-- Navigation -->
					<div id="mobile-navigation">
						<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
					</div>

				</div>
			</div>
		</header>
		<div class="clearfix"></div>


		<!-- Titlebar
================================================== -->
		<div id="titlebar">
			<div class="container">
				<div class="ten columns">
					<span><a href="browse-jobs.html">Binary Brains / Job Portal</a></span>
					<h2>{{ job.job_title }}    <span class="full-time">{{ job.job_type }}</span></h2>
				</div>

				<div class="six columns">
					<a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Job</a>
				</div>

			</div>
		</div>


		<!-- Content
================================================== -->
		<div class="container">

			<!-- Recent Jobs -->
			<div class="eleven columns">
				<div class="padding-right">

					<!-- Company Info -->
					<div class="company-info">
						<img src="/static/images/company-logo.png" alt="">
						<div class="content">
							<h4>{{ job.company_name }}</h4>
							<span><a href="{{ job.company_website }}"><i class="fa fa-link"></i> Website</a></span>
							<span><a href="#"><i class="fa fa-twitter"></i> {{ job.twitter_name }}</a></span>
						</div>
						<div class="clearfix"></div>
					</div>

					<p class="margin-reset">
						{{ job.description }}
					</p>

					<br>
					<p>The <strong>{{ job.job_title }}</strong> will have responsibilities that include:</p>
					<ul class="list-1">
						<li>{{ job.respo1 }}</li>
					</ul> 

					<ul class="list-1">
						<li>{{ job.respo2 }}</li>
					</ul> 

					<ul class="list-1">
						<li>{{ job.respo3 }}</li>
					</ul> 

					<ul class="list-1">
						<li>{{ job.respo4 }}</li>
					</ul> 
				

					<br>

					<h4 class="margin-bottom-10">Job Requirment</h4>

					<ul class="list-1">
						<li>{{ job.req1 }}</li>
					</ul> 

					<ul class="list-1">
						<li>{{ job.req2 }}</li>
					</ul> 

					<ul class="list-1">
						<li>{{ job.req3 }}</li>
					</ul> 

					<ul class="list-1">
						<li>{{ job.req4 }}</li>
					</ul> 


				</div>
			</div>


			<!-- Widgets -->
			<div class="five columns">

				<!-- Sort by -->
				<div class="widget">
					<h4>Overview</h4>

					<div class="job-overview">

						<ul>
							<li>
								<i class="fa fa-map-marker"></i>
								<div>
									<strong>Location:</strong>
									<span>{{ job.job_location }}</span>
								</div>
							</li>
							<li>
								<i class="fa fa-user"></i>
								<div>
									<strong>Job Title:</strong>
									<span>{{ job.job_title }}</span>
								</div>
							</li>
							<li>
								<i class="fa fa-clock-o"></i>
								<div>
									<strong>Hours:</strong>
									<span>{{ job.job_time }}</span>
								</div>
							</li>
							<li>
								<i class="fa fa-money"></i>
								<div>
									<strong>Rate:</strong>
									<span>{{ job.job_salary }}</span>
								</div>
							</li>
						</ul>


						<a href="#small-dialog" class="popup-with-zoom-anim button">Apply For This Job</a>

						<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
							<div class="small-dialog-headline">
								<h2>Apply For This Job</h2>
							</div>

							<div class="small-dialog-content">
								<form action="#" method="get">
									<input type="text" placeholder="Full Name" value="" />
									<input type="text" placeholder="Email Address" value="" />
									<textarea placeholder="Your message / cover letter sent to the employer"></textarea>

									<!-- Upload CV -->
									<div class="upload-info"><strong>Upload your CV (optional)</strong> <span>Max. file
											size: 5MB</span></div>
									<div class="clearfix"></div>

									<label class="upload-btn">
										<input type="file" multiple />
										<i class="fa fa-upload"></i> Browse
									</label>
									<span class="fake-input">No file selected</span>

									<div class="divider"></div>

									<button class="send">Send Application</button>
								</form>
							</div>

						</div>

					</div>

				</div>

			</div>
			<!-- Widgets / End -->


		</div>


		<!-- Footer
================================================== -->
		<div class="margin-top-50"></div>

		<div id="footer">
			<!-- Main -->
			<div class="container">

				<div class="seven columns">
					<h4>About</h4>
					<p>"Binary Brains: Powering your career journey through innovative backend solutions, revolutionizing the job portal experience with expertise and dedication.</p>
					<a href="#" class="button">Get Started</a>
				</div>

				<div class="three columns">
					<h4>Company</h4>
					<ul class="footer-links">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Our Blog</a></li>
						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Hiring Hub</a></li>
					</ul>
				</div>

				<div class="three columns">
					<h4>Press</h4>
					<ul class="footer-links">
						<li><a href="#">In the News</a></li>
						<li><a href="#">Press Releases</a></li>
						<li><a href="#">Awards</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Timeline</a></li>
					</ul>
				</div>

				<div class="three columns">
					<h4>Browse</h4>
					<ul class="footer-links">
						<li><a href="#">Freelancers by Category</a></li>
						<li><a href="#">Freelancers in USA</a></li>
						<li><a href="#">Freelancers in UK</a></li>
						<li><a href="#">Freelancers in Canada</a></li>
						<li><a href="#">Freelancers in Australia</a></li>
						<li><a href="#">Find Jobs</a></li>

					</ul>
				</div>

			</div>

			<!-- Bottom -->
			<div class="container">
				<div class="footer-bottom">
					<div class="sixteen columns">
						<h4>Follow Us</h4>
						<ul class="social-icons">
							<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
							<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
						<div class="copyrights">© Copyright 2015 by <a href="#">Work Scout</a>. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Back To Top Button -->
		<div id="backtotop"><a href="#"></a></div>

	</div>
	<!-- Wrapper / End -->


	<!-- Scripts
================================================== -->
	<script src="/static/scripts/jquery-2.1.3.min.js"></script>
	<script src="/static/scripts/custom.js"></script>
	<script src="/static/scripts/jquery.superfish.js"></script>
	<script src="/static/scripts/jquery.themepunch.tools.min.js"></script>
	<script src="/static/scripts/jquery.themepunch.revolution.min.js"></script>
	<script src="/static/scripts/jquery.themepunch.showbizpro.min.js"></script>
	<script src="/static/scripts/jquery.flexslider-min.js"></script>
	<script src="/static/scripts/chosen.jquery.min.js"></script>
	<script src="/static/scripts/jquery.magnific-popup.min.js"></script>
	<script src="/static/scripts/waypoints.min.js"></script>
	<script src="/static/scripts/jquery.counterup.min.js"></script>
	<script src="/static/scripts/jquery.jpanelmenu.js"></script>
	<script src="/static/scripts/stacktable.js"></script>



</body>

</html>